/* eg:  @import "~common/scss/mixins"; //已经在uni.scss全局引入
 @include flex-between;  @include flex-between(column);*/
// flex-center
@mixin flex-center($direction: row) {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: $direction;
}

// flex-between
@mixin flex-between() {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

// 垂直flex-between
@mixin flex-col-between() {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

//ellipsis
@mixin ellipsis() {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

// 溢出隐藏
@mixin multiline-ellipsis($num: 2) {
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: $num;
	-webkit-box-orient: vertical;
	white-space: normal !important;
	word-wrap: break-word;
}

@mixin abs-center {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
}

@mixin bottomFill {
	padding-bottom: 120rpx;
}

//提示
.tips{
	font-size: 30rpx;
	color: #A7A7A7;
	text-align: center;
}

.isLogo_vip {
  color: #D72E20 !important;
}
.isLogo_singer {
  color: #00C646 !important;
}
.isLogo_singer_vip {
  color: #D200E5 !important;
}
.isLogo_official {
  color: #0091E9 !important;
}
.logoImg {
	width: 30rpx;
	height: 30rpx;
	vertical-align: middle;
}