//color
$icon-color-default: #fff;
$icon-color: #ccc;
$link-active-color: #de181b;
$border-color: #e5e5e5;

//font-color
// $font-color-default: #000000; //默认主题
// $font-color-dark: #FFFFFF; //黑暗主题

//backgroun-color
// $background-color-default: #FFFFFF; //默认主题
// $background-color-dark: #000000; //黑暗主题

$bgc-theme: #f5f5f5;
$header-bgc: rgb(222, 24, 27);
$header-bgc-translucent: rgba(222, 24, 27, 0.9);
$modal-bgc: rgba(0, 0, 0, 0.4);

//font size
$font-size-base: 12px;
$font-size-l: $font-size-base + 2;
$icon-font-size-sm: 18px;
$icon-font-size: 24px;

//z-index
$navbar-z-index: 1000;
$tabbar-z-index: 1000;
$backtop-z-index: 1100;
$search-z-index: 1200;
$product-z-index: 1200;
$search-popup-z-index: $search-z-index + 10;
$category-popup-z-index: $search-z-index - 10;

//size
$navbar-height: 50px;
$tabbar-height: 50px;

$official-nickname-color: #0091E9; // 官方昵称颜色
$member-nickname-color: #D72E20; // 会员昵称颜色
$singer-nickname-color: #00C646; // 歌手昵称颜色
$singer-member-nickname-color: #D200E5; // 歌手会员昵称颜色